{% extends "temp_test/base.html" %}<!--templates보다 하위 디렉토리에 있을시 '하위디렉토리이름/파일이름' 형식-->
{% block title %} 설문 조사 {% endblock %}

{% block content %}
    <div class = "container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>질문</b></td>
                    <td><b>날짜/시간</b></td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>무슨 음식을 좋아하나요?</td>
                    <td>2023-3-11</td>
                </tr>
                <tr>
                    <td>무슨 음악을 좋아하나요</td>
                    <td>2023-6-7</td>
                </tr> -->
                {% for question in questions %} 
                    <tr>
                        <td>{{ question.question_txt}}</td>
                        <td>{{ question.pub_date }}</td>
                    </tr>
                {% endfor%}
            </tbody> 
        </table>
    </div>
{% endblock %}