<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class ="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>질문</b></td>
                    <td><b>날짜/시간</b></td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>무슨 음식을 좋아하나요?</td>
                    <td>2023-3-11</td>
                </tr>
                <tr>
                    <td>무슨 음악을 좋아하나요</td>
                    <td>2023-6-7</td>
                </tr> -->
                {% for question in questions %} 
                    <tr>
                        <td>{{ question.question_txt}}</td>
                        <td>{{ question.pub_date }}</td>
                    </tr>
                {% endfor%}
            </tbody> 
        </table>
    </div>
</body>
</html>
